<div class="container">
  <form action="/videos" method="POST"><br>
    <label>Video Title</label>
    <input type="text" name="video_name"/><br><br>
    <label>Video URL</label>
    <input type="text" name="video_url"/><br><br>
    <label>Video Description</label>
    <textarea name="description" rows="4" cols="70"></textarea><br><br>
    <input type="submit" value="Create New Video"/>
  </form>
</div>
